<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Blog Post</h1>
        <div class="row center">
            <% for(const x of query){ %>
            <h2 class="text-lg"> <%= x.title %> </h2>
            <img class="responsive-img" src="<%= x.image %>" alt="">
            <h2> <%= x.description %> </h2>
            <h2> <%= x.createdAt.toDateString() %> </h2>
            <a href="/blogs/<%=x._id %> " class="waves-effect waves-light btn">Show More</a>
            <a href="/blogs/<%=x._id %>/edit " class="waves-effect waves-light btn">Edit</a>
            <a href="/blogs/new " class="waves-effect waves-light btn">Create New</a>
            <form style="display: inline;" action="/blogs/<%= x._id %>?_method=DELETE " method="POST">
                <button class="waves-effect waves-light btn">Delete</button>
            </form>
            <% }   %>

        </div>
    </div>

</body>

</html>