<%- include('../partials/header.ejs') %>


<div id="avatar" class="container center">

    <img src="/img/avatar.jpg" alt="" class="circle responsive-img avatar"> <!-- notice the "circle" class -->
    <h4>A super simple blogging create with <i class="fa fa-heart" aria-hidden="true"></i></h4>
</div>

<section>
    <div class="row">
        <ul class="tabs">
            <li class="tab"><a href="#body">Latest</a></li>
            <li class="tab"><a href="#about">About</a></li>
            <li class="tab"><a href="#contact">Contact</a></li>
        </ul>
    </div>
</section>


<section id="body">
    <!-- * if query not 0 -->
    <% if(data.length != 0) { %>
    <% for(const x of data){ %>
    <div id="post">
        <div class="post-head">
            <h2 class="post-head-title">
                <a href="/blogs/<%=x._id %>"><%= x.title %></a>
            </h2>
            <h2 class="post-head-date"> <%= moment(x.createdAt).format("D MMMM YYYY"); %> </h2>
        </div>
        <div class="post-body">
            <img class="responsive-img" src="<%= x.image.url %>" alt="">
        </div>
        <div class="post-desc">
            <blockquote class="left-align">
                <em><%= x.headline %></em>
            </blockquote>
        </div>
        <div id="button">
            <a href="/blogs/<%=x._id %> " class="waves-effect waves-light btn orange">Show More</a>
            <%  if(currentUser) { %>
            <a href="/blogs/<%=x._id %>/edit " class="waves-effect waves-light btn orange">Edit</a>
            <a href="/blogs/new " class="waves-effect waves-light btn orange ">Create New</a>
            <form style="display: inline;" action="/blogs/<%= x._id %>?_method=DELETE " method="POST">
                <button class="waves-effect waves-light btn orange">Delete</button>
            </form>
            <% } %>
        </div>
    </div>
    <% }   %>


    <ul class="pagination">

        <!-- * Cursor Left -->
        <% if( page > 0  && page != 2 ) { %>
        <li><a href="/blogs?page=<%=parseInt(page) - 1%>"><i class="material-icons">chevron_left</i></a></li>
        <% } else if (page == 2) { %>
        <li><a href="/blogs"><i class="material-icons">chevron_left</i></a></li>
        <% } else { %>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <% } %>


        <!-- * Page Number -->
        <li class="waves-effect page active"><a href="/blogs">1</a></li>
        <% if(totalPost > 2 || totalPost > 3)  { %>
        <li class="waves-effect page"><a href="/blogs?page=2">2</a></a></li>
        <% } %>
        <% if(totalPost > 4 || totalPost > 5) { %>
        <li class="waves-effect page"><a href="/blogs?page=3">3</a></li>
        <% } %>
        <% if(totalPost > 6 || totalPost > 7) { %>
        <li class="waves-effect page"><a href="/blogs?page=4">4</a></li>
        <% } %>
        <% if(totalPost > 8 || totalPost > 9) { %>
        <li class="waves-effect page"><a href="/blogs?page=5">5</a></li>
        <% } %>

        <!-- * Cursor Right -->
        <!-- * no query page -->
        <% if(!page && totalPost <= 2 ) { %>
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
        <% } else if (!page && totalPost > 2  ) { %>
        <li><a href="/blogs?page=2"><i class="material-icons">chevron_right</i></a></li>
        <!-- * use remainder, if end and totalremainder 1 or equal disabled nav,  -->
        <% } else if (endIndex % totalPost == 1  || endIndex == totalPost ) { %>
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
        <% } else { %>
        <li><a href="/blogs?page=<%=parseInt(page) + 1%>"><i class="material-icons">chevron_right</i></a></li>
        <% } %>


    </ul>
    <!-- * if there is nothing to display -->
    <% } else {  %>
    <h4 style="color: gray; padding: 20px;">There is nothing To display....</h4>
    <a href="/blogs/" class="waves-effect waves-light btn orange">Back</a>

    <% } %>
</section>

<section id="about" class="container">
    <div class="row">
        <p class="flow-text tex">
            Hello, <br>
            Ini adalah Project Blog pertama saya,
            Project ini terisnpirasi dari Super Blog Jekyyl Theme<br>
            Ciao
        </p>
    </div>
</section>


<section id="contact">
    <div class="row">
        <div class="col s12">
            <form>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email">
                    <label for="email">Your Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">message</i>
                    <textarea id="message" class="materialize-textarea" cols="20" rows="20"></textarea>
                    <label for="message">Your Message</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" id="date" class="datepicker">
                    <label for="date">Choose a date you need me for...</label>
                </div>
                <div class="input-field center">
                    <button class="btn orange">Submit <i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>
</section>






<%- include('../partials/footer.ejs') %>