<%- include('../partials/header.ejs') %>


<% for(const x of query){ %>
<section id="body">
        <div class="post-head">
            <h2 class="post-head-title">
                <a href="/blogs/<%=x._id %>"><%= x.title %></a>
            </h2>
            <h2 class="post-head-date"> <%= moment(x.createdAt).format("D MMMM YYYY"); %> </h2>
        </div>
        <div class="post-body">
            <img class="responsive-img" src="<%= x.image %>" alt="">
        </div>
        <div class="post-desc">
            <blockquote class="left-align">
                <%= x.description %>
            </blockquote>
        </div>
</section>

<section id="button">
        <a href="/blogs/<%=x._id %> " class="waves-effect waves-light btn">Show More</a>
        <a href="/blogs/<%=x._id %>/edit " class="waves-effect waves-light btn">Edit</a>
        <a href="/blogs/new " class="waves-effect waves-light btn">Create New</a>
        <form style="display: inline;" action="/blogs/<%= x._id %>?_method=DELETE " method="POST">
            <button class="waves-effect waves-light btn">Delete</button>
        </form>
</section>

<% }   %>


<%- include('../partials/footer.ejs') %>