<%- include('../partials/header.ejs') %>

<h1>Blog Post</h1>
<div class="row center">
    <h2 class="text-lg"> <%= query.title %> </h2>
    <img class="responsive-img" src="<%= query.image %>" alt="">
    <h2> <%= query.description %> </h2>
    <h2> <%= query.createdAt.toDateString() %> </h2>
    <a href="/blogs/" class="waves-effect waves-light btn">Back</a>
    <a href="/blogs/<%=query._id %>/edit " class="waves-effect waves-light btn">Edit</a>
    <form style="display: inline;" action="/blogs/<%= query._id %>?_method=DELETE " method="POST">
        <button class="waves-effect waves-light btn">Delete</button>
    </form>

</div>

<%- include('../partials/footer.ejs') %>